/* Estilos para el encabezado */
header {
    background: #000; /* Fondo negro para el encabezado */
    padding: 10px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Alineación del logo a la izquierda y la navegación a la derecha */
header div {
    display: flex;
    align-items: center;
}
.logo img {
    width: 80px;
    height: 70px;
    border-radius: 100%;
       }
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #fff; /* Color de la línea de subrayado */
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

